[user]
	name = pranavb
	email = something
	signingkey = something
[push]
	default = current
[status]
	short = true
	branch = true
[color]
	ui = always
	ignorecase = false
	editor = vim
[alias]
	co = checkout
[commit]
	gpgsign = true
